<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot+WebSocket+广播式</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--@{}引用静态资源文件-->
    <!--<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/test.css}" rel="stylesheet"/>-->
    <script th:src="@{/websocket/js/sockjs.min.js}"></script>
    <script th:src="@{/websocket/js/stomp.min.js}"></script>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #ec971f;">貌似你的浏览器不支持web socket</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">连接</button>
        <button id="disconnect" onclick="disconnect();">断开连接</button>
    </div>
    <div>
        <div id="conversationDiv">
            <label>输入你的名字</label><input type="text" id="name"/><br/>
            <button id="sendName" onclick="sendName();">发送</button>
            <p id="response"></p>
            </div>
        </div>
</div>
<script type="text/javascript">
     var stompClient=null;
     function setConnected(connected) {
        document.getElementById('connect').disabled=connected;
        document.getElementById('disconnect').disabled=!connected;
        document.getElementById('conversationDiv').style.visibility=connected?'visible':'hidden';
        $('#response').html();
     }

     function connect(){
         var socket=new SockJS('/endpoint');
         stompClient=Stomp.over(socket);
         stompClient.connect({},function (frame) {
             setConnected(true);
             console.log('Connected: '+frame);
             stompClient.subscribe('/topic/getResponse',function(response) {
                 showResponse(JSON.parse(response.body).responseMessage);
             });
         });
     }

     function disconnect() {
         if(stompClient!=null){
             stompClient.disconnect();
         }
         setConnected(false);
         console.log('Disconnected');
     }

     function sendName() {
         var name=$('#name').val();
         stompClient.send("/welcome",{},JSON.stringify({'name': name}));
     }

     function showResponse(message) {
         var response=$('#response');
         response.html(message);
     }
</script>
</body>
</html>
